<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.hobby.HobbyMapper">
    <select id="findAll" resultType="Hobby">
        select * from hobby order by create_time desc
    </select>
    <insert id="add" parameterType="Hobby">
        insert into hobby (hobby_name, create_time)
        VALUES (#{hobby_name},NOW())
    </insert>
</mapper>